header{
    background-color: #000;
    color: #fff;
}
.wrapper{
max-width: 940px;
margin: 0 auto;
justify-content: center;
}

header .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
 }

 #hero{
    height: 600px;
 background-image:url(../images/hands-typing.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    filter: grayscale(70%);
 }

h1{
    max-width: 60%;
    color: #fff;
    background-color:rgba(0, 0, 0, 50%);
    margin: auto;
    text-align: center;
    align-self: center;
    text-shadow: 3px 3px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40%;}

#about-me .wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;}
   
    #about-me p{
        text-align: left;
        padding: auto;
        padding-left: 0;}
 #services{
 background-color: lightgray;
padding: 2em;}
#services h2{
max-width: 940px;
text-align: center;}
.grid-1{
display: grid;
grid-template-columns: repeat(3, 1fr);
 gap: 40px;
}
.grid-1 article {
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: #fff;
padding: 1em;
text-align: left;
}
.grid-1 article h3{
margin: 0;
}
.wrapper a:link,
.wrapper a:visited {
display:inline-block;
padding: .8em 1em;
background-color: #000;
color: #fff;
text-decoration: none;
border: 2px solid #000;
border-radius: 4px;
margin:auto;
}
.wrapper a:focus{
background-color: #fafafa47;
color: #000;
margin: auto; 
}
#work{
padding: 3em;
}
#work p{
padding:1em;
}
#work h2, p{
text-align: center;
margin: auto;
max-width: 700px;
}